# Rasters and large vector
*.tif
*.tiff
*.geotiff
*.gpkg
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
outputs/*
!outputs/.gitkeep
models/*
!models/.gitkeep

# Shapefile components
*.shp
*.shx
*.dbf
*.prj
*.cpg

# Notebook outputs
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/

# Earth Engine credentials
.config/earthengine/
